<% comment = local_assigns[:comment]%>

<div class="comment" data-comment-id=<%= comment.id %>>
  <div class="header">
    <div class="created-by"><%= comment.user.name %><%= " (#{time_ago_in_words comment.created_at})" %></div>
    <div class="actions">
    <% if current_user.can_edit?(comment) %>
      <%= link_to 'Destroy', post_comment_url(post_id: comment.post_id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' } %> | 
      <%= link_to 'Edit', edit_post_comment_url(post_id: comment.post_id, id: comment.id) %>
    <% end %>
    </div>
  </div>
  <div class="content"><%= comment.content %></div>
  <%= render partial: '/reactions/show', locals: { comment: comment } %>
</div>